body{
margin-top:50px !important;
font-weight:800;
font-family: 'Roboto', sans-serif;
}
.container {
margin: auto;
width: 40%;
}
.tv{
width:200px;
height:auto;
margin-right:20px;
}
button{

width:100px;
margin-top:20px !important;
margin-bottom:20px !important;
margin-right:10px !important;
margin-left:5px !important;
}


.table {
background-color: #e3e3e3;
}

tr {
border: 10px solid white;
}

td {
vertical-align: middle !important;
}

.logo {
height: 75px;
width: 75px;
border-radius: 50%;
}

.red {
border: 5px solid red;
}

.green {
border: 5px solid green;
}
@media screen and (max-width:800px){
.container {
margin: 0;
padding:0;
width:100vw;
}
button{
width:auto;
margin:10px !important;
}
.tv{
width:300px;
height:auto;
margin-right:10px;
display:block;
}
}
